site_name: InfluencerPy
site_description: Premium Social Media Automation CLI
repo_url: https://github.com/cristianleoo/InfluencerPy

theme:
  name: material
  icon:
    logo: material/robot-outline
    repo: fontawesome/brands/github
    edit: material/pencil
    view: material/eye
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: deep purple
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: purple
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: Inter
    code: JetBrains Mono
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.expand
    - navigation.path
    - navigation.prune
    - navigation.indexes
    - navigation.top
    - navigation.footer
    - toc.follow
    - toc.integrate
    - header.autohide
    - search.suggest
    - search.highlight
    - search.share
    - content.code.copy
    - content.tooltips
    - content.action.edit
    - content.action.view
    - content.tabs.link


extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/cristianleoo/InfluencerPy
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/
    - icon: fontawesome/brands/telegram
      link: https://t.me/

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - attr_list
  - md_in_html
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - toc:
      permalink: true

nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - Examples:
    - Overview: examples/README.md
    - Multi-Feed RSS Scout: examples/multi_rss_scout_example.md
    - Multi-Feed Visual Guide: examples/multi_rss_visual_guide.md
    - Multi-Feed Technical Details: examples/MULTI_FEED_ENHANCEMENT.md
  - Concepts:
    - Scouts: concepts/scouts.md
    - Tools: concepts/tools.md
    - Scheduler: concepts/scheduler.md
    - Image Generation: concepts/image-generation.md
    - Scheduling: concepts/scheduling.md
    - System Prompts: concepts/system-prompts.md
  - Tools:
    - HTTP Request: tools/http-request.md
    - HTTP Request (Technical): tools/http-request-technical.md
  - Platforms:
    - Substack: platforms/substack.md
  - Channels:
    - Telegram: channels/telegram.md
  - Experimental:
    - Browser Tool: experimental/browser-tool.md
    - Browser Tool (Technical): experimental/browser-tool-technical.md
  - Deployment: deployment.md
  - API Reference: reference.md
